@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	
}
.app-container{
	padding: 50px 100px;
}

@media only screen and (max-width: 768px) {
	body{
		padding: 0;
	}
	.app-container{
		padding: 10px;
	}
	
}