.gallery{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 55px;
    padding: 55px;
    background-color: #F7F7F7;
    border-radius: 25px;
    margin: 50px 0;
}

.gallery a{
	text-decoration: none;
	color: rgb(248, 247, 247);
}

.linear-gradient{
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
	
}
.linear-gradient img{
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

article {
	position: relative;
	background-color: rgb(255, 96, 96);
	border-radius: 10px;
	width: 340px;
	height: 340px;
}
.gallery h3 {
	font-size: 0.8em;
	position: absolute;
	bottom: 10px;
	left: 30px;
	font-weight: bold;
	z-index: 1;
}

@media only screen and (max-width: 768px) {
	article {
		width:auto;
		height: auto;
	}
	.linear-gradient{
		background: none;
	}
	.gallery{
		padding: 0px;
		background-color: white;
	}
}