.page-header{
	display:flex;
	justify-content: space-between;
}

nav{
	gap: 50px;
	display: flex;
	justify-content: center;
	text-align: center;
	
}
nav a{
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	color: #FF6060;
	text-decoration: none;
	display: flex;
	align-items: center;
	text-align: right;
}