.tag-container{
	display: flex;
	gap: 10px;
	list-style: none;
	padding: 0;
}

.tag{
	font-weight: 500;
    font-size: 14px;
	border-radius: 10px;
	background: #FF6060;
	padding: 3px 15px;
	color: #FFFFFF
}